@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    ViewData["BodyClass"] = "login-page";
}

<div class="login-box">

  <div class="login-logo">
     <a asp-controller="Home" asp-action="Index">
        <b>Stride3D</b>
        <br>
        Publisher Portal
    </a>
  </div>

  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">@ViewData["Title"]</p>

        <div class="alert alert-success">
            <p>
                <i class="icon fas fa-check"></i> 
                Please check your email to reset your password.
            </p>
        </div>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
