<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"] - OpenMarketPlace.Publisher</title>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OpenMarketPlace.Publisher.styles.css" asp-append-version="true" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/lib/icheck-bootstrap/icheck-bootstrap.min.css">
 
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">

    <!--render css-->
    @await RenderSectionAsync("Styles", required: false)
    
</head>
<body class="hold-transition @ViewData["BodyClass"]">

    <!--render body-->
    @RenderBody()

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>

    <!--render scripts section-->
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
